# QA
# SPREDSHEET_REC = "1MjIf9kiIRCurBzgJQo4AiO8BNBIq84rnQV_OY3Uh7Po"
#  QA
# SPREDSHEET_DEV = "1Byxm7-7aBR8Qevyt79N2YmlpsxDNJmoKHZFDmMC73VQ"
SPREDSHEET_REC = ""
SPREDSHEET_DEV = ""
# pagina13, grupo oscar, base_nfd
EXCLUSE_SHEETS = [785626510, 2000806052,1104155334]
SHEET_NAME_BASE_BI = "BASE_BI_2"
